<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>text</key>
	<array>
		<string>AntaresDC 最新鋭マイコンで爆発的な初速を1000分の1秒単位で自動制御する「NEW 4×8DCブレーキ」、慣性モーメントを最小限に抑え、飛距離を飛躍的に高める「NEWマグナムライトスプール」、精緻なギアの噛み合わせが異次元の巻きごこちを届ける「マイクロモジュールギア」、キャスト時のスプール回転を安定させる「サイレントチューン」。これらシマノの最高技術を、高精度・高剛性「HAGANEボディ」で包み込んだ、ベイトリールの最高峰モデルです。</string>
		<string>Bantam</string>
		<string>Metanium</string>
		<string>Shaula</string>
		<string>PoizonGourious</string>
		<string>Expride</string>
	</array>
	<key>image</key>
	<array>
		<string>Image-0</string>
		<string>Image-1</string>
		<string>Image-2</string>
		<string>Image-3</string>
		<string>Image-4</string>
		<string>Image-5</string>
	</array>
</dict>
</plist>
