<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>AntalesDC</string>
		<key>description</key>
		<string>最新鋭マイコンで爆発的な初速を1000分の1秒単位で自動制御する「NEW 4×8DCブレーキ」、慣性モーメントを最小限に抑え、飛距離を飛躍的に高める「NEWマグナムライトスプール」、精緻なギアの噛み合わせが異次元の巻きごこちを届ける「マイクロモジュールギア」、キャスト時のスプール回転を安定させる「サイレントチューン」。これらシマノの最高技術を、高精度・高剛性「HAGANEボディ」で包み込んだ、ベイトリールの最高峰モデルです。</string>
		<key>image</key>
		<string>Image-0.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bantam</string>
		<key>description</key>
		<string>歴史的名機「バンタム100」の登場から40年の時を経て、現代に甦った新生バンタム。レベルワインドプロテクターとサイドプレート、メインフレームを一体成型したコアソリッドボディの採用により、パーミング時のガタツキを追放。従来のロープロベイトとは一線を画する高い剛性を実現しました。スプールを支持するダイアルケースをアルミ鍛造化し、ボディサイドから露出させる独自の構造は、コンパクト化を図るとともに、パーミングした手のひらへダイレクトに振動を伝達。高感度化にも貢献しています。金属加工技術の先端を行くシマノが最新技術を駆使して作り込み、剛性の高いアルミ素材の長所を見直した現代のバンタム。受け継がれた技術者の魂が、ベイトリールの歴史に新たな一歩を刻みます。</string>
		<key>image</key>
		<string>Image-1.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Metanium</string>
		<key>description</key>
		<string>搭載した「NEWマグナムライトスプール」が、側面のブランキングと70サイズのシャロースプール化で慣性モーメントを大幅に軽減。平均飛距離で約20％アップ（当社比）を達成しました。合わせて「NEW SVS∞（インフィニティ）」では、外部ダイアルのみでのスピーディーなブレーキ調整が可能。もちろん「マイクロモジュールギア」「X-SHIP」「HAGANEボディ」「サイレントチューン」といったテクノロジーも標準で備えた充実のモデルです。</string>
		<key>image</key>
		<string>Image-2.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shaula</string>
		<key>description</key>
		<string>村田基のフロンティアスピリットあふれるフィッシングスタイル。そして、情熱と創意で築き上げられたシマノの技術。 ふたつの熱き思いを惜しみなく注ぎ込み、理想高きアングラーの声に応えるべく誕生したドリームロッドです。バス フィッシングはもちろん、サーモンやトラウトなどのフレッシュウォーターから、シーバスや真鯛、青物、ロックフィッ シュなどのソルトウォーターまで、日本はおろか海外の大物にも挑むことが可能です。</string>
		<key>image</key>
		<string>Image-3.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PoizonGourious</string>
		<key>description</key>
		<string>より軽く、より遠くへ、より思いのままに…。アングラーの欲張りともいえるニーズが、ポイズングロリアスをさらに上のステージへと導きました。フルモデルチェンジされたグロリアスは、前モデルに比べて20％以上軽量化。もはやアルティマに迫る軽さと感度、操作性、そしてパワーを手に入れました。ベイトフィネスからビッグベイトまで、特化型ロッドからバーサタイルロッドまでコンセプトを具現化した数々のモデル、そのどれにも共通するのが軽さとパワーの両立。さらに感度と操作性も兼ね備えており、まさに次世代の本格派ロッドの誕生といえるでしょう。</string>
		<key>image</key>
		<string>Image-4.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Expride</string>
		<key>description</key>
		<string>ロッドメーカーの威信を賭けたハイパフォーマンスロッドが、全アイテムに新設計を施し生まれ変わりました。高弾性カーボンの比率を上げたブランクスをハイパワーXで強化。剛性はそのままに最大10％以上の軽量化と高バランス化に成功。さらにパワーを維持しつつシャープネスと感度、レスポンスが飛躍的に向上しました。CI4＋素材を用いたリールシートは軽量化と美観アップに貢献。マットラバーコーティングによりさらに質感にも磨きが掛かりました。テクニックに合わせてアイテムそれぞれに専用設計を採用。7ft未満のアイテムはタフなフィールドを攻略する繊細なロッドアクション、7ft以上はビッグレイクや本場アメリカのビッグバスを想定したパワー重視の設計です。</string>
		<key>image</key>
		<string>Image-5.jpg</string>
	</dict>
</array>
</plist>
